SUPABASE_URL=xxxxxxx
SUPABASE_ANON_KEY=xxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxx
ENCRYPTION_KEY=xxxxxxx
TOTP_ISSUER=server-dashboard
TAILSCALE_SUBNET=100.64.0.0/10
GOOGLE_CLIENT_ID=xxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx
GOOGLE_REDIRECT_URI=xxxxxxx
ALLOWED_EMAIL=xxxxxxx
FRONTEND_URL=xxxxxxx
MAIL_FROM=dashboard@framenode.net
SMTP_PASSWORD=xxxxxxx
SMTP_HOST=xxxxxxx
SMTP_PORT=xxxxxxx
SMTP_USER=xxxxxxx